@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TmDev.com</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
        .jumbotron {
        background-color:#191919;
        color: #fff;
        padding: 100px 25px;
        }

        .container-fluid {
        padding: 60px 50px;
        }
        .bg-grey {
        background-color: #f6f6f6;
        }
        .logo {
        font-size: 200px;
        }
            @@media screen and (max-width: 768px) {
        .col-sm-4 {
        text-align: center;
        margin: 25px 0;
        }
        }
        </style>
    </head>
    <body>

        <div class="jumbotron text-center">
            <h1>Thomas Murphy</h1>
            <p>"I Program Things to Do Things"</p>
        </div>
        <style>

        </style>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-8">
                    <h2>About Me</h2>
                    <h4>Background</h4>
                    <p>Accomplished service industry professional who upon returning to third level education will
                        complete a B.Sc. in Computing in May 2016 achieving the following.</p>
                    <ul>
                        <li>Strong proficiency in object orientated programming languages such as Java and C#.</li>
                        <li>High competency in unmanaged programming environments such as C++.</li>
                        <li>Excellence in Database Design and Development using SQL/PLSQL.</li>
                        <li>Advanced understanding of Network development (using Cisco systems and
                            developing distributed systems in the cloud on platforms such as Azure and AWS</li>
                    </ul>
                </div>
                <div class="col-sm-4 logo">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <h2>Skills</h2>
            <h4>What I have to offer</h4>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <span class="glyphicon glyphicon-off"></span>
                    <h4>Programming Languages</h4>
                    <p>Java, C#, C++. Applied to build android applications

                        (Java) and Web Applications (Play Framework!), C# building .net web

                        applications and windows phone mobile applications. Developing functional</p>
                </div>
                <div class="col-sm-3">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h4>Databases</h4>
                    <p>Programming in SQL/PLSQL, Relational, Object-Relational Database

                        design and development. Experience using the Entity framework (code first),

                        Hibernate and Ebean ORM.</p>
                </div>
                <div class="col-sm-3">
                    <span class="glyphicon glyphicon-lock"></span>
                    <h4>Cloud Development:</h4>
                    <p>Developing and deploying applications in Azure such as

                        applications reliant on Azure Media Services, mobile services and those

                        requiring off table storage in BLOB's.</p>
                </div>
                <div class="col-sm-3">
                    <span class="glyphicon glyphicon-lock"></span>
                    <h4>Networking</h4>
                    <p>Switch and router programming setting up DMZ’s, Areas etc.
                    Covering N</p>
                </div>
            </div>
        </div>

    </body>
</html>